* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;



}



body {
    font-family: "Noto Sans", sans-serif;
    background: black;
    color: white;
    padding: 10px 150px;
    height: 100vh;
    background-color: #ccee66;
    overflow: hidden;
    flex-grow: 1;


}

.principal {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;



}



body::before {


    content: " ";
    background: rgb(19, 19, 19);
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: -500px;
    transform: rotate(-65deg);
    flex-grow: 1;
}

body::after {

    content: "Nike";
    color: rgb(56, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    font-weight: bold;
    transform: translate(-40%, -40%);
    font-weight: bold;
    opacity: 0.6;
    flex-grow: 1;

}

.logo {


    width: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    max-width: 600px;
    flex-grow: 1;


}


h4 {

    font-size: 20px;
    margin-bottom: 50px;


}

h1 {

    font-size: 60px;
    margin-bottom: 50px;
    max-width: 250px;


}

p {

    margin-bottom: 70px;
    margin-bottom: 30px;
    max-width: 420px;
    font-size: 14px;



}

.main {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    position: relative;
    z-index: 2;


}


.image {

    width: 600px;


}

.nike-1 {
    display: block;
    width: 600px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.text {


    max-width: 500px;
}

.botão {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #91bc0f;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 50px;


}

.botão:hover {

    opacity: 0.7;
}

.container-button {
    display: flex;
    gap: 20px;
    position: relative;
    flex-grow: 1;


}

.button {

    display: flex;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;

}

.button:active {

    opacity: 0.6;
}


.button:hover {

    transform: translateY(-10px);
    transition: 0.5s;

}

.green {

    background: #ccee66;
}

.blue {

    background: #58cced;


}


.pink {

    background: #ff9eb5;

}

.trocaEfeito {

    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);

}





@media (max-width:768px) {

* {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;

}


 body {
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  padding: 0;

}




body::before {
        content: " ";
        background: rgb(19, 19, 19);
        width: 170%;
        position: absolute;
        top: 0;
   
        transform: rotate(337deg);
        flex-grow: 1;
    }




    body::after {

        font-size: 150px;
        left: 45%;


    }

    header {
        padding: 0  20px;
        flex-grow: 1;
        flex-basis: 200;
        margin: auto;
    }

    .main {

        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;

    }

    .text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 65vh;
        flex-grow: 1;
        flex-basis: 200;
        z-index: 0;
        padding: 10px 30px;
    }

    p{

        font-size: 13px;
    }


    h1 {

        display: block;
        width: 90vw;
        margin: 0 auto;

    }

    .image {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nike-1 {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 370px;
        position: relative;
        bottom: 200px;
        right: 30px;
    }

    .container-button {

        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 85%;
        right: 25%;
    }

    .button .green {


        flex-grow: 1;
        flex-basis: 200;
    }

    .container-button {
        z-index: 3;
    }

    .botão{

        position: absolute;
        top: 78%;
        left: 25%;
    }
} 





















