* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;



}



body {
    font-family: "Noto Sans", sans-serif;
    background: black;
    color: white;
    padding: 10px 150px;
    height: 100vh;
    background-color: #ccee66;
    overflow: hidden;


}

body::before {


    content: " ";
    background: rgb(19, 19, 19);
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: -500px;
    transform: rotate(-65deg);

}

body::after {

    content: "Nike";
    color: rgb(56, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    font-weight: bold;
    transform: translate(-40%, -40%);
    font-weight: bold;
    opacity: 0.6;


}

.logo {


    width: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    max-width: 600px;



}


h4 {

    font-size: 20px;
    margin-bottom: 50px;


}

h1 {

    font-size: 60px;
    margin-bottom: 50px;
    max-width: 250px;


}

p {

    margin-bottom: 70px;
    margin-bottom: 30px;
    max-width: 420px;
    font-size: 14px;



}

.main {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    position: relative;
    z-index: 2;

}


.image{

width: 600px;


}

.nike-1 {

    width: 600px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.text {


    max-width: 500px;
}

.botão {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #91bc0f;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 50px;


}

.botão:hover {

    opacity: 0.7;
}

.container-button {
    display: flex;
    gap: 20px;
    position: relative;


}

.button {

    display: flex;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;

}

.button:active {

    opacity: 0.6;
}


.button:hover {

    transform: translateY(-10px);
    transition: 0.5s;

}

.green {

    background: #ccee66;
}

.blue {

    background: #58cced;


}


.pink {

    background: #ff9eb5;

}

.trocaEfeito {

    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);

}

@media (max-width: 400px) {

    * {
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }

    .principal {
        display: flex;
        flex-direction: column;
    
    }
    
body{

    display: flex;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    max-width: 600px;
}

   h1{
    display: flex
;
    width: 400px;
    height: 100px;
    font-size: 50px;
    margin-bottom: 50px;
    max-width: 250px;
}

h4{  

font-size: 20px;
     margin-bottom: 15pxpx;

}

p {
    display: flex;
    
    margin-left: 0px;
    width: 350px;
    padding: 0px;
    left: 0px;
    font-size: 14px;
}

.text {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 250px;
    max-width: 500px;
}

.container-button {
    display: flex
;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    left: 70px;
    bottom: 10px;
}


body::before {
    content: " ";
    background: rgb(19, 19, 19);
    width: 200%;
    height: 130%;
    position: absolute;
    top: 0;
    left: -500px;
    transform: rotate(327deg);
}

.main {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    position: relative;
    z-index: 2;
}

.nike-1 {
    width: 300px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
    position: static;
    margin-top: 270px;
    z-index: -1;
}


body::after {
    content: "Nike";
    color: rgb(56, 54, 54);
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 160px;
    font-weight: bold;
    transform: translate(-40%, -40%);
    font-weight: bold;
    opacity: 0.6;
}
.container-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    left: 70px;
    bottom: 10px;
}

.botão {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #91bc0f;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 50px;
    position: absolute;
    top: 560px;
    left: 60px;
}
.botão:hover {

    opacity: 0.7;
}

.trocaEfeito {

    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);

}

.button:hover {

    transform: translateY(-10px);
    transition: 0.5s;

}



}